/* Generic Styles */
body {
  font-family: 'Bungee Outline', cursive;
  font-size: 12pt;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

a {
  color: #ffffff;
}

/* Fixed layout for the application */
#app {
  max-width: 400px;
  background: #000000;
  border: 2px solid #192DA1;
}

/* Header styling */
header h1 {
  background: #192DA1;
  color: #ffffff;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

header h1 a {
  text-decoration: none;
}

header h1 span {
  color: red;
}

/* Main game area styling */
article {
  height: 400px;
  /* overflow: auto; */
  color: #ffffff;
  padding: 0.5rem;
  position: relative;
}

article h2 {
  margin: 0;
}

button {
  margin-top: 5px;
  padding: 10px 20px;
  color: white;
  background: #192DA1;
  text-transform: uppercase;
  font-family: monospace;
  border: 0;
  border-radius: 3px;

}

#restart {
  position: absolute;
  bottom: 0px;
}

/* Footer styling */
footer {
  background: #192DA1;
  color: #f6f6f6;
  font-family: monospace;
  font-size: 0.6rem;
  padding: 0.3rem 0.4rem;
  text-align: center;
}

footer:after {
  content: ' ';
  display: table;
  clear: both;
}
